body {
    background: #fafafa;
}

#map {
    height: 95vh;
    width: 100%;
    position: fixed !important;
    z-index: 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

.title-app{
    height: 100%;
}
#sidebar {
    z-index: 1000;
    min-width: 40vw;
    max-width: 40vw;
    background: #b9b5a8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #b9b5a8;
}

#sidebar.active {
    margin-left: -40vw;
}

.list-group-item{
    background: #b9b5a8;
}

.list-group-item:hover { 
    background-color: rgb(54, 54, 53);
}

/*  MEDIAQUERIES */
@media (max-width: 768px) { 
    #map {
        height: 93vh;
        width: 100%;
        position: fixed !important;
        z-index: 0;
    }
    #sidebar {
        margin-left: -80vw;
        min-width: 80vw;
        max-width: 80vw;
    }

    #sidebar.active {
        margin-left: 0;
    }
    .list-group-item{
        width: 100%;
    }
}
