body {
    background: #fafafa;
}

#map {
    height: 96vh;
    width: 100%;
    position: fixed !important;
    z-index: 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

.title-app{
    height: 100%;
}

#sidebar {
    z-index: 1000;
    min-width: 20vw;
    max-width: 20vw;
    background: #fafafa;
    color: #000000;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: #fafafa;
}

#sidebar.active {
    margin-left: -20vw;
}

.list-group-item{
    background: #fafafa;
}

.list-group-item:hover { 
    background-color: rgb(54, 54, 53);
    color: #fafafa;
}

/*  MEDIAQUERIES */
@media (max-width: 768px) { 
    #map {
        height: 93vh;
        width: 100%;
        position: fixed !important;
        z-index: 0;
    }
    #sidebar {
        margin-left: -80vw;
        min-width: 80vw;
        max-width: 80vw;
    }

    #sidebar.active {
        margin-left: 0;
    }
    .list-group-item{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 920px) { 
    #map {
        height: 96vh;
        width: 100%;
        position: fixed !important;
        z-index: 0;
    }
    #sidebar {
        margin-left: -30vw;
        min-width: 30vw;
        max-width: 30vw;
    }

    #sidebar .sidebar-header {
        padding: 5px;
        background: #fafafa;
    }

    #sidebar.active {
        margin-left: 0;
    }
    .list-group-item{
        width: 100%;
    }
}