{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="container  text-center">
          <div class="jumbotron">
            <h1 class="mb-4">{{item.name}}</h1>
            <p>               
                <a class="btn btn-md btn-success p-2 mb-3" href="{{url_for('editItem', category=item.catalog_category.name, item=item.name)}}" role="button">Edit Item</a>
                <a class="btn btn-md btn-success p-2 mb-3" href="{{url_for('deleteItem', category=item.catalog_category.name, item=item.name)}}" role="button">Delete Item</a>
            </p>
          </div>
        </div>
        
        <div class="container">
            <div class="row">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger p-2 m-3" role="alert">
                                    <strong> {{ message }} </strong>
                                </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="container">
            <div class="jumbotron" id="description">
                <h3 class="pb-4">Description</h3>
                <p>{{item.description}}</p>
            </div>               
        </div>
		
{% endblock %}
