{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="starter-template  text-center">
		<h1>Catalog Items</h1>
		<p class="lead">Help to improve our catalog! It is free, it is public!</p>
		<a class="btn btn-md btn-outline-dark  p-2 mb-4" href="{{url_for('newCategory')}}" role="button">Login</a>		
	</div>
    
	<div class="container">
		<div class="row">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
						{% for message in messages %}
							<div class="alert alert-danger p-2 m-3" role="alert">
								<strong> {{ message }} </strong>
							</div>
						{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
	</div>
      
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6" id="categories"> 
                <div class="row">
                    <div class="container">
                        <div class="list-group">
                        	<a class="list-group-item list-group-item-action flex-column align-items-start active">
								<div class="d-flex w-100 justify-content-between">
								<h5 class="" ass="mb-1">Categories</h5>
								</div>                                           
							</a>
                        	{% for category in catalog_categories %}
                        		<a href="{{url_for('showCategoryItems', category=category.name)}}" class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">{{category.name}}</h5>
									</div>                            
								</a>									
							{% endfor %}
						</div>
					</div>
				</div>
            </div>

            <div class="col-sm-12 col-md-6 text-center" id="items"> 
                <div class="row">
                    <div class="container">
                        <div class="list-group">
							<a class="list-group-item list-group-item-action flex-column align-items-start active">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">New Items</h5>
								</div>
							</a>
                          	{% for item in items %}
								<a href="{{url_for('showCategoryItem', category=item.catalog_category.name, item=item.name)}}" class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">{{item.name}}</h5> <small class="text-muted"> ({{item.catalog_category.name}})</small>
									</div>                            
								</a>
							{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

	